.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_description {
  width: 90%;
  margin: 12px 5px;
}

.description {
  margin: 40px 0 30px;
  padding: 40px 0;
  border-top: 3px solid var(--color-black);
}
