.container {
  width: 500px;
  max-width: 90%;
  margin: 12px 5px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 170px;
  padding: 10px;
  border-bottom: 3px solid var(--color-border);
  border-radius: 10px;
  color: var(--color-black);
  cursor: pointer;
  text-decoration: none;
}

.item:hover {
  background-color: #f0f0f5;
}

.name {
  font-size: 1.7rem;
  font-weight: bold;
}

.description {
  font-style: italic;
  padding: 0 20px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.price span {
  color: var(--color-green);
}
