.item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 170px;
  width: 500px;
  max-width: 90%;
  margin: 7px 5px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  color: var(--color-black);
  cursor: pointer;
  text-decoration: none;
}

.item:hover {
  border: 2px solid var(--color-black);
}

.name {
  font-size: 1.7rem;
  font-weight: bold;
}

.description {
  font-style: italic;
  padding: 0 20px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.price span {
  color: var(--color-green);
}
