* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: #f8f8ff;
  /* tirar depois */
  margin-bottom: 500px;
}

:root {
  font-size: 16px;
  --color-green: #4caf50;
  --color-black: #212121;
  --color-red: #f44336;
  --color-blue: #2196f3;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 56.25rem) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 37.5rem) {
  :root {
    font-size: 13px;
  }
}

.active {
  background-color: #999;
}
